/* Login.css */



.lg {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: brown;
    background-size: cover;
  }

  

  
  
  
  .login {
    background: black;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    text-align: center;
    width: 300px;
  }
  
  .login h2 {
    font-size: 1.8rem;
    margin-bottom: 20px;
    color: brown;
    
  }

  .login h2:hover {
    color: orange;
    cursor: pointer;
      
    }

    .toggle-link{
      color:brown;
      cursor: pointer;
    }
    .toggle-text{
      color:brown;
    }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: brown;
  }

  label:hover {
  color: orange;
  cursor: pointer;
    
  }
  
.l_in {
    width: 80%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 1rem;
    padding-right: 50px;
    
  }

  .l_in::placeholder{
    font-size: 0.9rem ;
    color: #353030;
  }

  .password-input {
    position: relative;
  }
  
  .password-toggle {
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: 2px;
    transform: translateY(-50%);
    cursor: pointer;
  }
  
  button {
    width: 90%;
    padding: 12px;
    background-color: brown;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 0.8rem;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  button:hover {
    background-color: orange;
    color: #000;
  }

 
  